{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<h3>Inicio</h3>
{% if request.user.is_authenticated %}
    <hr>
    <h4>
        {{ user.username | upper }}, bienvenido
    </h4>


    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam laudantium, in quibusdam distinctio voluptatibus nostrum doloremque suscipit deserunt dicta repellendus porro nihil esse, nesciunt aperiam nam perferendis id nulla ipsum. Ullam corrupti laboriosam accusantium! Autem illum debitis atque dolorum eius? Corrupti esse accusamus neque reprehenderit ullam quia. Recusandae, accusamus tenetur, quisquam placeat fugit ipsam explicabo optio laborum quasi ducimus magnam porro. Facilis, iure. Voluptate autem fuga delectus veritatis debitis. Ea blanditiis cum, nisi illum molestiae asperiores distinctio exercitationem iste deserunt consequatur. Id voluptas hic esse! Voluptatum maiores exercitationem rem eligendi illo est fugiat vero itaque voluptatibus maxime quaerat, consectetur eum!</p>




{% endif %}



{% endblock %}